.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    transition: all 0.9s ease;
  }
  
  /* Modal content */
  .modal-dialog {
    position: relative;
    margin: 10% auto; /* Center it vertically */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    /* width: 80%; Modal width */
    max-width: 60%;
    z-index: 10;
  }
    
    
    /* Style the modal header */
    .modal-header {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-bottom: 2px solid #dee2e6;
        color: #333;
    }

    .modal{
        position: absolute;
        top:auto;
        right: auto;
    }

    /* Style the modal title */
    .modal-title {
        font-size: 24px;
        font-weight: bold;
    }

    /* Style the modal body to handle scrolling */
    .modal-body {
        max-height: 350px;
        overflow: auto;
    }

    /* Style for the close button */
    .btn-close {
        background: transparent;
        border: none;
        font-size: 18px;
        color: #000;
    }

    /* Style the modal footer */
    .modal-footer {
        background-color: #fff;
        border-top: 2px solid #dee2e6;
        display: flex;
        justify-content: flex-end;
    }

    /* Custom button style */
    .btn-save {
        color: white;
        margin: 20px;
        padding: 10px 20px;
        background-color: #141b5f;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    }

    .btn-save:hover {
        background-color: #FFBD03;
        border-color: #FFBD03;
        color: #000;
    }

    /* Animation for modal */
    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.4s ease;
    }

    /* Show the modal with opacity transition */
    .modal.show {
        display: block;
        opacity: 1;
        animation: fadeIn 0.5s ease;
    }

    /* Hide the modal with opacity transition */
    .modal.hide {
        opacity: 0;
        animation: fadeOut 0.5s ease;
    }

    /* Keyframes for the fade-in effect */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Keyframes for the fade-out effect */
    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-30px);
        }
    }